body {
  font-size: 260%; 
  font-family: courier;  
  padding: 90px; 
  border: dotted;   
  border-color: black;       
  border-thickness: 9px;      
  background-color: #FFB6C1;    
  }      
 
#Menu {
  border-color: black ;
  font-color: white ;
  text-decoration: none ; 
  background-color: black ;
  text-align: center ;
  height: 80px ; 
}
    
h1 { 
  text-align: center;    
  text-align: top;   
 } 

#Me {
  width: 160px; 
  height: 190px; 
  float: top;
}

h2 {
   text-align: right;
}

.column {
    float: left;
    margin: 5px;
    padding: 15px;
    width: absolute;
    height: absolute; 
    border-color: black; 
    border: dotted;
}   
 
h3 {    
  text-align: center;   
  vertical-align: middle;   
  float: top; 
 }

#kittens {
  width: 300px; 
  height: 200px;
  float: top;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#Bubble {
  width: 300px; 
  height: 200px;
  float: top;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#Code {
  width: 350px;
  height: 300px;
  float: top;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h4 {
   float: top; 
  text-align: center; 
 }

.row2 {
  padding: 10px;
}

#orange {
  width: 200px;
  height: 200px;
  float: top;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#Ads {
  width: 200px;
  height: 200px;
  float: top; 
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#Loud {
  width: 300px;
  height: 200px;
  float: top;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h5 {
  text-align: center; 
  float: top; 
 }

#Udacity {
  width: 340px;
  height: 200px;
  float: top;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#Youtube {
  width: 340px;
  height: 280px;
  float: top;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#Codeacdamy {
  width: 240px;
  height: 240px;
  float: top;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
