body {
  font-size: 260%; 
  font-family: courier; 
  padding: 90px; 
  border: dotted; 
  border-color: black; 
  border-thickness: 9px; 
  background-color: #FFB6C1;
  }

h1 {
  text-align:center;
 }

h2 {
   text-align:right;
}

.column {
    float: left;
    margin: 5px;
    padding: 15px;
    max-width: 300px;
    height: 300px;
} 

h3 {
  text-align:center;
  vertical-align:middle;
 }

h4 {
  text-align:center ;
 }

#orange #Ads #Loud {
  width:140px;
  height: 140px;
  float: left;
  padding: 20px;
}

h5 {
  text-align:center;
 }

