body {
  font-size: 260%; 
  font-family: courier; 
  padding: 90px; 
  border: dotted; 
  border-color: black; 
  border-thickness: 9px; 
  background-color: #FFB6C1;
  }

h1 {
  text-align:center ;
 }

#Me {
  width:160px;
  height:190px;
  padding: 20px;
  float: left;
}

h2 {
   text-align:right;
}

.column {
    float: left;
    margin: 5px;
    padding: 15px;
    max-width: 300px;
    height: 300px;
} 

h3 {
  text-align:center;
  vertical-align:middle;
 }


#Bubble {
  width: 200px; 
  height: 120px ;
  float: left;
  padding: 20px;
}

#Code {
  width:350px;
  height:320px;
  float: left;
  padding: 20px;
}

h4 {
  text-align:center ;
 }

#orange #Ads #Loud {
  width:140px;
  height: 140px;
  float: left;
  padding: 20px;
}

h5 {
  text-align:center;
 }

#Udacity {
  width:340px;
  height:200px;
  float: left;
  padding: 20px;
}

#Youtube {
  width:340px;
  height:280px;
  float: left;
  padding: 20px;
}

#Codeacdamy  {
  width:240px;
  height:240px;
  float: left;
  padding: 20px;
}

