body {
  font-size: 260%; 
  font-family: courier; 
  padding: 90px; 
  border: dotted; 
  border-color: black; 
  border-thickness: 9px; 
  background-color: #FFB6C1;
  }

h1 {
  text-align:center ;
 }

h2 {
   text-align:right;
  
}
h3 {
  text-align:center ;
 }

h4 {
  text-align:center ;
 }

h5 {
  text-align:center ;
 }
