body {
  font-size: 260%; 
  font-family: courier; 
  padding: 90px; 
  border: dotted; 
  border-color: black; 
  border-thickness: 9px; 
  background-color: #FFB6C1;
  }

h1 {
  text-align:center;
 }

#Me {
  width:160px;
  height:190px;
  padding:20px;
}

h2 {
   text-align:right;
}

.column {
    float: left;
    margin: 5px;
    padding: 15px;
    max-width: 325px;
    height: 1000px;
} 

.row1 {
  padding: 20px;
} 

h3 {
  text-align:center;
  vertical-align:middle;
 }

#kittens  {
  width:200px; 
  height:  120px;
  padding: 20px;
}

#Bubble {
  width: 200px; 
  height: 120px;
  padding: 20px;
}

#Code {
  width:350px;
  height:320px;
  padding: 20px;
}

.row2 {
  padding: 20px;
}

h4 {
  text-align:center;
 }

#orange #Ads #Loud {
  width:140px;
  height: 140px;
  float: top; 
  padding: 10px;
}

#Loud {
  width:100px;
  height:100px;
  padding:10px;
}

h5 {
  text-align:center;
 }

#Udacity {
  width:340px;
  height:200px;
  padding: 20px;
}

#Youtube {
  width:340px;
  height:280px;
  padding: 20px;
}

#Codeacdamy  {
  width:240px;
  height:240px;
  padding: 20px;
}
