body {
  font-size: 260%; 
  font-family: courier; 
  padding: 90px; 
  border: dotted; 
  border-color: black; 
  border-thickness: 9px; 
  background-color: #FFB6C1;
  }

h1 h3 h4 h5 {
  text-align:center;
 }
