body {
  font-size: 260%; 
  font-family: courier; 
  padding: 90px; 
  border: dotted; 
  border-color: black; 
  border-thickness: 9px; 
  background-color: #FFB6C1;
  }

.column1 {
   float: left;
    margin: 5px;
    padding: 15px;
    max-width: 300px;
    height: 300px;
}

.column2 {
   float: middle;
    margin: 5px;
    padding: 15px;
    max-width: 300px;
    height: 300px;
}

.column3 {
   float: right;
    margin: 5px;
    padding: 15px;
    max-width: 300px;
    height: 300px;
}
