body {
  font-size: 260%; 
  font-family: courier; 
  padding: 90px; 
  border: dotted; 
  border-color: black;  
  border-thickness: 9px;   
  background-image: url("http://s1.picswalls.com/wallpapers/2014/07/28/maldives-beach-desktop-wallpaper_120650391_113.jpg");
  } 
 
#Menu { 
  border-color: black ;
  font-color: white ;
  text-decoration: none ; 
  background-color: black ;
  text-align: center ;
  height: 80px ; 
  opacity: .6 ; 
}

#Menu a {
  text-decoration: none; 
}

#construction {
  float: bottom; 
}
 
  
