body {
  font-size: 260%; 
  font-family: courier; 
  padding: 90px; 
  border: dotted; 
  border-color: black; 
  border-thickness: 9px;  
  background-color: #FFB6C1;
  } 

#Menu {
  border-color: black ;
  font-color: white ;
  text-decoration: none ; 
  background-color: black ;
  text-align: center ;
  height: 80px ; 
}

#construction {
  float: bottom; 
}
 
