body {
  background-image: url("anime-scenery-wallpaper-background-Is-Cool-Wallpapers.jpg");
  font-size: 260%; 
  font-family: courier;    
  padding: 90px;
}
  
#Menu {   
  border-color: black ;    
  background-color: black ;
  opacity: .8 ; 
  text-align: center ;
  height: 80px ; 
  padding: 20px ; 
  display: block ; 
}

#Menu a {
  text-decoration: none; 
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto; 
}

.overlay {
  position: absolute;
  bottom: 0; 
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
